# macOS
.DS_Store
__MACOSX/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Logs
logs
*.log

# OS
Thumbs.db
Desktop.ini

# VSCode
.vscode/

# Env files
.env
.env.*

# Others (optional)
.idea/
*.local